
header {
	background-color: #ccccff;
	position: fixed;
	left:0;
	right:0;
	top:0;
	padding: 5px;
	text-align: center;
	
	border-color: #aaaaee;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-radius: 0px 0px 9px 9px;
}

main {
	padding: 70px 0px 0px;
}

/* HolyGrail: https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/ */
.grail, .grail-body { display: flex; flex-direction: column; }
.grail-content { flex: 1; }
.grail-nav { order: -1; }
@media ( min-width : 500px) {
	.grail-body { flex-direction: row; flex: 1; }
	.grail-content { flex: 1; margin-left:40px; margin-right:40px; }
}

h1 {
	font-weight: bold;
	font-size: 20px;
}

h2 {
	font-weight: bold;
	font-size: 15px;
}

textarea {
	padding: 10px;
	width: 95%; 
	height: 20vh;
	
	border-radius: 5px;
	border: 1px gray solid;
}

/*div {
	border: 1px dashed;
}*/

code {
	font-family: monospace; 
	white-space: pre-wrap;
	padding: 10px;
	margin: 5px;
	background-color: #eeeeee;
	display: block;
	
	border-radius: 5px;
	border: 1px gray solid;
}

code.inline {
	display: inline-block;
	padding: 3px 5px;
	margin: 0px 2px;
}

button {
	font-size: 15px;
	background-color: #ccccff;
	padding: 10px;
	border-color: #aaaaee;
	border-width: 2px;
	border-style: solid;
	border-radius: 12px;
}