
header {
	position: fixed;
	left:0;
	right:0;
	top:0;
	padding: 5px;
	text-align: center;
	padding: 0px;
}

header .headline {
	margin:0px;
	background-color: #ccccff;
	border-color: #aaaaee;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
}

.menu {
	margin: 8px;
	background-color: #eeeeff;
	margin:0;
	height: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 0px 0px 12px 12px;
}

a {
  text-decoration: none;
}

.menu a {
  padding: 10px 20px;
  position: relative;
  display: inline-block;
}
.menu a span::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2px solid ;
  border-left: 2px solid ;
  opacity: 0;
}
.menu a span::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 2px solid ;
  border-bottom: 2px solid ;
  opacity: 0;
}
.menu a::before {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-right: 2px solid ;
  border-top: 2px solid ;
  opacity: 0;
}
.menu a::after {
  width: 5px;
  height: 5px;
  background: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid;
  border-bottom: 2px solid;
  opacity: 0;
}
.menu a:hover {
  /*color: #000;*/
}
.menu a:hover::before {
  opacity: 1;
  right: 5px;
  top: 5px;
}
.menu a:hover::after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}
.menu a:hover span::before {
  opacity: 1;
  left: 5px;
  top: 5px;
}
.menu a:hover span::after {
  opacity: 1;
  right: 5px;
  bottom: 5px;
}


main {
	padding: 80px 0px 0px;
}

@media ( min-width : 700px) {
	.nograil {
		margin-left: 40px;
		margin-right: 40px;
	}
}


/* HolyGrail: https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/ */
.grail, .grail-body { display: flex; flex-direction: column; }
.grail-content { flex: 1; }
.grail-nav { order: -1; }
@media ( min-width : 700px) {
	.grail-body { flex-direction: row; flex: 1; }
	.grail-content { flex: 1; margin-left:40px; margin-right:40px; }
}

h1 {
	font-weight: bold;
	font-size: 20px;
}

h2 {
	font-weight: bold;
	font-size: 15px;
}

textarea {
	padding: 10px;
	width: 95%; 
	height: 20vh;
	
	border-radius: 5px;
	border: 1px gray solid;
}

/*div {
	border: 1px dashed;
}*/

code {
	font-family: monospace; 
	white-space: pre-wrap;
	padding: 10px;
	margin: 5px;
	background-color: #eeeeee;
	display: block;
	
	border-radius: 5px;
	border: 1px gray solid;
}

code.inline {
	display: inline-block;
	padding: 3px 5px;
	margin: 0px 2px;
}

button {
	font-size: 15px;
	background-color: #ccccff;
	padding: 10px;
	border-color: #aaaaee;
	border-width: 2px;
	border-style: solid;
	border-radius: 12px;
}

ul li {
	margin: 5px 0 5px 0;
}

ul.examples li {
	margin: 20px 0 20px 0;
}
